<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credenciamento</title>
</head>
<body>
    <h1>Eventos GDG</h1>
    <div>
        <a href="">Home</a>
        <a href="./cadastro.html">Cadastro</a>
        <a href="">Consulta</a>
    </div>

    <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=1599498836510" alt="">
    
</body>
</html>